@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
}

body {
    background: rgb(107, 107, 122);
    justify-content: center;
    align-items: center;    
    height: 100vh;
    display: flex;
    width: 100%;

}

.container {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    display: flex;
    height: 80vh;
    width: 80%;
}

.form-image {
    background-image: url(imagens/imagem-dev2.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    justify-content: center;
    background-size: cover;
    align-items: center;
    display: flex;
    padding: 1rem;
    width: 50%;   
}

.form-image img {
    width: 31rem;
}

.form {
    background-color: #fff;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 3rem;
    width: 50%;
}

.form-header {
    justify-content: space-between;
    margin-bottom: 3rem;
    display: flex;
}

.login-button {
    align-items: center;
    display: flex;

}

.login-button button {
    background-color: #1c1683;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.login-button button:hover {
    background-color: #1c1683;
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
    background-color: #1c1683;
    border-radius: 10px;
    position: absolute;
    height: 0.3rem;
    margin: 0 auto;
    display: block;
    content: '';
    width: 5rem;
}

.input-group {
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    display: flex;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.62rem;
}

.input-box input {
    box-shadow: 1px 1px 6px #0000001c;
    padding: 0.8rem 1.2rem;
    border-radius: 10px;
    font-size: 0.8rem;
    margin: 0.6rem 0;
    border: none;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #1c1683;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    color: #000000c0;
    font-weight: 600;
}

.input-box input::placeholder {
    color: #000000be;
}

.gender-group {
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
    display: flex;
}

.gender-input {
    align-items: center;
    display: flex;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    color: #000000c0;
    font-weight: 600;
}

.continue-button button {
    background-color: #1c1683;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 0.62rem;
    cursor: pointer;
    border: none;
    width: 100%;

}

.continue-button button:hover {
    background-color: #1c1683;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        height: auto;
        width: 90%;
    }
    .input-group {
        flex-direction: column;
        padding-right: 5rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        z-index: 5;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}
